{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>EventeX</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/pygments-manni.css" rel="stylesheet">

    <!-- Le styles -->
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .content-center{
            text-align: center;
        }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
              <div class="nav-collapse collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">EventeX</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-pencil icon-white"></i>&nbsp;Inscrições<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'subscriptions:subscribe' %}">
                            <i class="icon-plus icon-white"></i>&nbsp;Inscreva-se já</a></li>
                        <li><a href="/admin/subscriptions/subscription/" target="__blank">
                            <i class="icon-list icon-white"></i>&nbsp;Lista de Inscritos</a></li>
                      </ul>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-tags icon-white"></i>&nbsp;Palestras<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="/admin/core/talk/add/" target="__blank">
                            <i class="icon-plus icon-white"></i>&nbsp;Cadastrar Palestra</a></li>
                        <li><a href="{% url 'core:talk_list' %}">
                            <i class="icon-list icon-white"></i>&nbsp;Lista de Palestras</a></li>
                      </ul>
                  <li><a href="#myModal" role="button" data-toggle="modal">
                      <i class="icon-info-sign icon-white"></i>&nbsp;Sobre</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">        
    {% block content %}
        <div class="content-center">

          <hr />
          <h1>Bem-vindo ao EventeX!</h1>
          <p>O evento mais sensacional do ano depois do Dev in Rio!</p>
          <p>Você não pode perder esta oportunidade!</p>
          <p>
            <a href="/inscricao/" class="btn btn-primary">Inscreva-se já...</a>
          </p>
          <p>Para dúvidas e mais informações entre em contato com <a href="#">eventext@eventext.com.br</a></p>

        </div><!-- <div class="content-center"> -->
        {% endblock content %}

      <hr>
      <footer>
          <p>
              <a href="http://estudepy.wordpress.com/" target="_blank">
                <img src="{{ STATIC_URL }}img/estudepy-logo.png" class="pull-left">
              </a>
              &nbsp;
              &copy; 2013. <a href="/">EventeX</a>, some rights reserved. &nbsp;
              <img src="{{ STATIC_URL }}img/80x15.png"> &nbsp;
              <a href="https://docs.djangoproject.com/en/1.5/"  target="_blank">
                <img src="{{ STATIC_URL }}img/djangosite100x25.gif" class="pull-right">
              </a>
          </p>
      </footer>

      <a href="https://github.com/fabianogoes/eventex" target="_blank">
          <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 999999"
               src="{{ STATIC_URL }}img/forkme.png" alt="Fork me on GitHub">
      </a>

    </div> <!-- /container -->


<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">EventeX</h3>
  </div>
  <div class="modal-body">
    <p>
        Sistema desenvolvido durante o cursor:
        <strong>Welcome To The Django</strong> Turma 11
    </p>
    <p>
        <h3>Periodo:</h3>
        <ul>
            <li>21 de Julho de 2013 - domingo</li>
            <li>28 de Julho de 2013 - domingo</li>
            <li>04 de Agosto de 2013 - domingo</li>
            <li>11 de Agosto de 2013 - domingo</li>
        </ul>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ STATIC_URL }}js/holder.js"></script>
<script src="{{ STATIC_URL }}js/application.js"></script>


</body>
</html>

