{% extends 'base.html' %}

{% block content %}

    <div class="content-center">
      <div>
            <a href="/"><img src="{{ STATIC_URL }}img/logo.png" /></a>
      </div>
      <hr />
      <h1>Bem-vindo ao EventeX!</h1>
      <p>O evento mais sensacional do ano depois do Dev in Rio!</p>
      <p>Você não pode perder esta oportunidade!</p>
      <p>
        <a href="/inscricao/" class="btn btn-primary">Inscreva-se já...</a>
      </p>
      <p>Para dúvidas e mais informações entre em contato com <a href="#">eventext@eventext.com.br</a></p>
    </div>

{% endblock content %}